.header {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-wrapper {
    width: var(--full-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 30px;
}

.header-auth_box {
    display: flex;
    justify-content: space-between;
}

.section {
    width: var(--full-width);
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0 auto;
}

.section-category {
    height: 300px;
    display: grid;
    grid-template-rows: 15% 85%;
}

.section-category-title {
    font-size: 20px;
}

.section-category-links {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.section-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}