.category {
    display: grid;
    row-gap: 30px;
}

.category-header {
    display: flex;
    justify-content: center;
    height: 55px;

    border: none;
    color: #505050;
    background-color: rgb(228,232,233);
    padding: 5px;
    border-radius: 10px;
}

.category-section {
    display: grid;
}

.category-section-content {
    display: grid;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgb(207, 209, 209);
}

.category-section-content-header {
    display: flex;
    justify-content: space-between;
}

.category-create_btn {
    width: 90px;
}