.header {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.header-wrapper {
    width: var(--full-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 30px;
}

.header-logo:hover {
    cursor: pointer;
}

.header-auth_box {
    display: flex;
    justify-content: space-between;
}