.article_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.article_list-header {
    display: flex;
    justify-content: center;
    height: 55px;

    border: none;
    color: #505050;
    background-color: rgb(228,232,233);
    padding: 5px;
    border-radius: 10px;
}

.article_list-section {
    display: grid;
    border-bottom: 1px solid rgb(207, 209, 209);
    /* grid-template-rows: repeat(5, 1fr); */
}

.article_list-section-content {
    display: grid;
    padding: 10px 0 10px 0;
}

.article_list-section-content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}