.authForm {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
}

.authForm-forFlex {
  display: flex;
}

.authForm-label {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 13px;
  width: 50px;
}

.authForm-input {
  height: 24px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 13px;
  text-align: center;
  width: 240px;
  margin-left: 10px;
}

.authForm-input:focus {
  outline: none;
}

.password,
.passCheck,
.email {
  margin-top: 20px;
}

.authForm-buttonWrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.authForm-error_message {
  color: red;
  display: flex;
  align-items: center;
}
